<div id="carousel-slider" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-slider" data-slide-to="1" class=""></li>
    <li data-target="#carousel-slider" data-slide-to="2" class=""></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for post in site.posts limit:1 %}
    <div class="item active">
      <div class="img-wrap">
        <img src="{{site.baseurl}}/public/img/{{ post.image }}" class="img-responsive" alt="Responsive image">
        <div class="carousel-caption">
          <h3>{{ post.title }}</h3>
          <p>{{ post.imgCaption }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for post in site.posts offset:1 limit:2 %}
    <div class="item">
      <div class="img-wrap">
        <img src="{{site.baseurl}}/public/img/{{ post.image }}" class="img-responsive" alt="Responsive image">
        <div class="carousel-caption">
          <h3>{{ post.title }}</h3>
          <p>{{ post.imgCaption }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
