<li data-description="{{include.description}}" class='fre-dropover {% if page.url contains include.permalink %}active{% endif %}'>
  <ul class="fre-secondary-nav nav hide-dropdown">
    {% for subcategories in site.posts %}
      {% if subcategories.category == include.category %}
      <li role="presentation" {% if page.url contains {{subcategories.permalink}} %} class="active"{% endif %}>
        <a href="{{site.baseurl}}/{{subcategories.permalink}}">{{subcategories.title}}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</li>
