<div class="tdsvp-nav-header">
  <div class="container-fluid clearfix">
    <a href="{{ site.baseurl }}/" class="pull-left">
      <div class="logo-wrap">
        <img src="http://tdstelecom.com/content/dam/tdstelecom/images/logos/tds-logo.svg" alt="TDS Logo">
      </div>
    </a>
    <div class="contact-info pull-right">
        <a href="tel:1-408-555-5555">1-408-555-5555</a>
    </div>
  </div>
</div>
<nav class="tdsvp-navbar navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="{{ site.baseurl }}/" class="pull-left">
        <div class="logo-wrap">
          <img src="http://tdstelecom.com/content/dam/tdstelecom/images/logos/tds-logo.svg" alt="TDS Logo">
        </div>
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tds-voip-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="">MENU</span>
      </button>
    </div>
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="tds-voip-menu">
      <ul class="nav navbar-nav" id="tds-voip-nav">
        <li {% if page.url == "/" %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/">
            Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li {% if page.url contains "/pricing-and-features" %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/pricing-and-features.html">
            Pricing and Features
          </a>
            <ul class="tdsvp-secondary-nav nav hide-dropdown">
              {% for subcategories in site.categories.pricing-and-features %}
              <li role="presentation" {% if page.url contains {{subcategories.permalink}} %} class="active"{% endif %}>
                <a href="{{site.baseurl}}/{{subcategories.permalink}}">{{subcategories.title}}</a>
              </li>
              {% endfor %}
            </ul>
        </li>
        <li {% if page.url contains "/resources" %} class="active"{% endif %} >
          <a href="{{ site.baseurl }}/resources.html">
            Resources
          </a>
          <ul class="tdsvp-secondary-nav nav hide-dropdown">
            {% for subcategories in site.categories.resources %}
            <li role="presentation" {% if page.url contains {{subcategories.permalink}} %} class="active"{% endif %}>
              <a href="{{site.baseurl}}/{{subcategories.permalink}}">{{subcategories.title}}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <a href="#">
            Case Studies
          </a>
        </li>
        <li {% if page.url contains "/why-tds" %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/why-tds.html">
            Why TDS
          </a>
          <ul class="tdsvp-secondary-nav nav hide-dropdown">
            {% for subcategories in site.categories.why-tds %}
            <li role="presentation" {% if page.url contains {{subcategories.permalink}} %} class="active"{% endif %}>
              <a href="{{site.baseurl}}/{{subcategories.permalink}}">{{subcategories.title}}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- <div class="tdsvp-secondary-nav">
  <div class="container">
    <ul class="nav nav-pills">
      {% if page.category == "pricing-and-features" %}
      <h5>{{page.parent}}</h5>
      {% for subcategories in site.categories.pricing-and-features %}
      <li role="presentation">
        <a href="{{site.baseurl}}/{{subcategories.permalink}}">{{subcategories.title}}</a>
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>
</div> -->
