<tr>
  {% comment %}
   * The First table heading must be an empty space.
  {% endcomment %}
  <th>&nbsp;</th>
  {% for pricecard in site.data.pricecards %}
  <th>
    <table class="fre-pricecard table {{ pricecard.class }}">
      <tr>
        <td>
          {{ pricecard.package }}
        </td>
      </tr>
      <tr>
        <td>
          <h1 class="dollars">
            {{ pricecard.dollars }}
            <sup>
              <span class="cents">
                {{ pricecard.cents }}
              </span>
            </sup>
          </h1>
          <div class="fre-cta">
            <button class="fre-btn btn btn-primary">
              {{ pricecard.cta }}
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          {{ pricecard.desc }}
          <div class="mobile-only fre-cta pricecard">
            <div class="collapse" id="collapsePkg{{ pricecard.pkg }}">
              <ul class="fre-ul">
                {% if pricecard.package == "Package 1" %}
                  {% include pricecard-1-li.html %}
                {% endif %}
                {% if pricecard.package == "Package 2" %}
                  {% include pricecard-2-li.html %}
                {% endif %}
                {% if pricecard.package == "Package 3" %}
                  {% include pricecard-3-li.html %}
                {% endif %}
              </ul>
            </div>
            <div class="fre-menu-chevron mobile-only" data-toggle="collapse" data-target="#collapsePkg{{ pricecard.pkg }}" aria-expanded="false" aria-controls="collapsePkg{{ pricecard.pkg }}">
              <span class="glyphicon glyphicon-menu-down">
              </span>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </th>
  {% endfor %}
</tr>
