<div class="props">
  <div class="container">
    <h5>
      Proudly Serving:
    </h5>
    <!-- <div class="row">
      <div class="col-xs-4">
        <img src="http://placehold.it/84x84" alt="..." class="img-circle center-block">
      </div>
      <div class="col-xs-4">
        <img src="http://placehold.it/84x84" alt="..." class="img-circle center-block">
      </div>
      <div class="col-xs-4">
        <img src="http://placehold.it/84x84" alt="..." class="img-circle center-block">
      </div>
    </div> -->
  </div>
</div>
