<table class="tdsvp-table table">
  <tr>
    <th>&nbsp;</th>
    <th>Plan 1</th>
    <th>Plan 2</th>
    <th>Plan 3</th>
  </tr>
  <tr>
    <td data-th=" ">Description</td>
    <td data-th="Plan 1">yes</td>
    <td data-th="Plan 2">yes</td>
    <td data-th="Plan 3">no</td>
  </tr>
  <tr>
    <td data-th=" ">Description</td>
    <td data-th="Plan 1">yes</td>
    <td data-th="Plan 2">yes</td>
    <td data-th="Plan 3">no</td>
  </tr>
  <tr>
    <td data-th=" ">Description</td>
    <td data-th="Plan 1">no</td>
    <td data-th="Plan 2">yes</td>
    <td data-th="Plan 3">$115</td>
  </tr>
</table>
