<table class="tdsvp-table table">
  <tr>
    <th>&nbsp;</th>
    <th>
      <table class="tdsvp-pricecard table first-card">
        <tr>
          <td>
            Plan 1
          </td>
        </tr>
        <tr>
          <td>
            <h1 class="dollars">
              49
              <sup>
                <span class="cents">
                  99
                </span>
              </sup>
            </h1>
            <div class="tdsvp-cta">
              <button class="tdsvp-btn btn btn-primary">
                Buy Now
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Standard
            <div class="mobile-only tdsvp-cta">
              <ul class="tdsvp-ul">
                <li>
                  Feature 1
                </li>
                <li>
                  Feature 2
                </li>
                <div class="collapse" id="collapsePlan1">
                  <li>
                    Feature 3
                  </li>
                  <li>
                    Feature 4
                  </li>
                  <li>
                    Feature 5
                  </li>
                  <li>
                    Feature 6
                  </li>
                </ul>
              </div>
              <div class="tdsvp-menu-chevron mobile-only" data-toggle="collapse" data-target="#collapsePlan1" aria-expanded="false" aria-controls="collapsePlan1">
                <span class="glyphicon glyphicon-menu-down">
                </span>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </th>
    <th>
      <table class="tdsvp-pricecard table showcase-card">
        <tr>
          <td>
            Plan 2
          </td>
        </tr>
        <tr>
          <td>
            <h1 class="dollars">
              369
              <sup>
                <span class="cents">
                  99
                </span>
              </sup>
            </h1>
            <div class="tdsvp-cta">
              <button class="tdsvp-btn btn btn-primary">
                Buy Now
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Pro
            <div class="mobile-only tdsvp-cta">
              <ul class="tdsvp-ul">
                <li>
                  Feature 1
                </li>
                <li>
                  Feature 2
                </li>
                <div class="collapse" id="collapsePlan2">
                  <li>
                    Feature 3
                  </li>
                  <li>
                    Feature 4
                  </li>
                  <li>
                    Feature 5
                  </li>
                  <li>
                    Feature 6
                  </li>
                </ul>
              </div>
              <div class="tdsvp-menu-chevron mobile-only" data-toggle="collapse" data-target="#collapsePlan2" aria-expanded="false" aria-controls="collapsePlan2">
                <span class="glyphicon glyphicon-menu-down">
                </span>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </th>
    <th>
      <table class="tdsvp-pricecard table last-card">
        <tr>
          <td>
            Plan 3
          </td>
        </tr>
        <tr>
          <td>
            <h1 class="dollars">
              89
              <sup>
                <span class="cents">
                  99
                </span>
              </sup>
            </h1>
            <div class="tdsvp-cta">
              <button class="tdsvp-btn btn btn-primary">
                Buy Now
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Premium
            <div class="mobile-only tdsvp-cta">
              <ul class="tdsvp-ul">
                <li>
                  Feature 1
                </li>
                <li>
                  Feature 2
                </li>
                <div class="collapse" id="collapsePlan3">
                  <li>
                    Feature 3
                  </li>
                  <li>
                    Feature 4
                  </li>
                  <li>
                    Feature 5
                  </li>
                  <li>
                    Feature 6
                  </li>
                </ul>
              </div>
              <div class="tdsvp-menu-chevron mobile-only" data-toggle="collapse" data-target="#collapsePlan3" aria-expanded="false" aria-controls="collapsePlan3">
                <span class="glyphicon glyphicon-menu-down">
                </span>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </th>
  </tr>
  <tr class="hideit">
    <td>This is a long description of a feature 1</td>
    <td>&#8226;</td>
    <td>&#8226;</td>
    <td>&#8226;</td>
  </tr>
  <tr class="hideit">
    <td>Feature 2</td>
    <td>&#8226;</td>
    <td>&#8226;</td>
    <td>&#8226;</td>
  </tr>
  <tr class="hideit">
    <td>Feature 3</td>
    <td>&#8226;</td>
    <td>&#8226;</td>
    <td>&#8226;</td>
  </tr>
  <tr class="hideit">
    <td>Feature 4</td>
    <td></td>
    <td>&#8226;</td>
    <td>&#8226;</td>
  </tr>
  <tr class="hideit">
    <td>Feature 5</td>
    <td></td>
    <td>&#8226;</td>
    <td></td>
  </tr>
  <tr class="hideit">
    <td>Feature 6</td>
    <td></td>
    <td>&#8226;</td>
    <td></td>
  </tr>
</table>
