<table class="tdsvp-table table">
  <tr>
    <th>&nbsp;</th>
    <th>
      <table class="tdsvp-pricecard table">
        <tr>
          <td>
            Plan 1
          </td>
        </tr>
        <tr>
          <td>
            <h1 class="dollars">
              49
              <span class="cents">
                99
              </span>
            </h1>
          </td>
        </tr>
        <tr>
          <td>
            Standard
            <div class="reveal-mobile">
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                View Features
              </button>
              <div class="collapse" id="collapseExample">
                <ul>
                  <li>
                    Feature 1
                  </li>
                  <li>
                    Feature 2
                  </li>
                  <li>
                    Feature 3
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </th>
    <th>
      <table class="tdsvp-pricecard table">
        <tr>
          <td>
            Plan 2
          </td>
        </tr>
        <tr>
          <td>
            <h1 class="dollars">
              69
              <span class="cents">
                99
              </span>
            </h1>
          </td>
        </tr>
        <tr>
          <td>
            Pro
          </td>
        </tr>
      </table>
    </th>
    <th>
      <table class="tdsvp-pricecard table">
        <tr>
          <td>
            Plan 3
          </td>
        </tr>
        <tr>
          <td>
            <h1 class="dollars">
              89
              <span class="cents">
                99
              </span>
            </h1>
          </td>
        </tr>
        <tr>
          <td>
            Premium
          </td>
        </tr>
      </table>
    </th>
  </tr>
  <tr class="hideit">
    <td>This is a long description of a feature 1</td>
    <td></td>
    <td></td>
    <td>&#8226;</td>
  </tr>
  <tr class="hideit">
    <td>Feature 2</td>
    <td>&#8226;</td>
    <td>&#8226;</td>
    <td>&#8226;</td>
  </tr>
  <tr class="hideit">
    <td>Feature 3</td>
    <td></td>
    <td>&#8226;</td>
    <td>&#8226;</td>
  </tr>
</table>
