<footer class="site-footer">

  <div class="wrapper">

    <img src="http://images.subscription.tdstelecom.com/EloquaImages/clients/TDSMetrocom/%7b278cea9e-d704-40ed-8164-be488cb2fcb2%7d_tds-logo.png" alt="logo-image" class="tds-logo tds-footer-logo">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">

      </div>

      <div class="footer-col  footer-col-4">
        <ul class="social-media-list">
          <li>
            <a href="https://www.facebook.com/TDSTelecommunications">
              <span class="username">Facebook</span>
            </a>
            |
          </li>
          <li>
            <a href="http://blog.tdstelecom.com/">
              <span class="username">Business Blog</span>
            </a>
            |
          </li>
          <li>

            <span class="username">1-844-271-7148</span>

          </li>
        </ul>
      </div>

    </div>

  </div>

</footer>
