<footer class="site-footer">

  <div class="wrapper">

    <img src="/public/img/tds-logo.svg" alt="logo-image" class="tds-logo tds-footer-logo">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">

      </div>

      <div class="footer-col  footer-col-4">
        <ul class="social-media-list">
          <li>
            <a href="#">
              <span class="username">Facebook</span>
            </a>
            |
          </li>
          <li>
            <a href="#">
              <span class="username">Business Blog</span>
            </a>
            |
          </li>
          <li>

            <span class="username">1-844-271-7148</span>

          </li>
        </ul>
      </div>

    </div>

  </div>

</footer>
