button.tdsvp-btn.btn {
  border-radius: 0;
  &.btn-primary {
    background: $primary;
    border-color: $primary;
  }
  &.btn-default {
    background: $white;
    border-color: $lines;
  }
}

.tdsvp-cta {
  padding: 12px 0;
  &.pricecard {
    padding: 12px 0 0 0;
  }
}

.tdsvp-menu-chevron {
  padding: 4px 0;
  border-top: 1px solid darken($lines, 15%);
  background: darken($lines, 7.5%);
  span {
    @include prefix(transform-origin, center center);
    @include prefix(transition, 0.5s all ease);
  }
}
