button.tdsvp-btn.btn {
  border-radius: 0;
  &.btn-primary {
    background: $primary;
    border-color: $primary;
  }
  &.btn-default {
    background: $white;
    border-color: $lines;
  }
}

.tdsvp-cta {
  padding: 12px 0;
}
