.logo-wrap {
  width: 128px;
  height: auto;
  .fre-navbar .navbar-header & {
    display: block !important;
    width: 80px;
    height: 32px;
    margin: 8px 0 0 15px;
    @include phones {
      display: none !important;
    }
  }
}

.img-wrap {
  width: 200%;
  margin-left: -50%;
  position: relative;
  height: 380px;
  overflow: hidden;
  white-space: nowrap;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-height: 380px;
  }
  @include phones {
    width: 150%;
    margin-left: -25%;
  }
  @include tablets {
    width: 100%;
    margin-left: 0;
  }
}
.item {
  width: 100%;
  overflow: hidden;
}

.video-wrap {
  position: relative;
  background: #000;
  .container {
    max-width: 600px;
    min-width: 360px;
  }
}

.split-wrap {
  position: relative;
  background: $tds-dk-blue;
  color: $white;
  article {
    h1 {
      font-size: 2.5em;
    }
    p {
      font-size: 18px;
      font-family: $copy;
    }
  }
  section {
    padding: 12px 24px;
  }
}
