// Tabs
.tdsvp-tab {
  .nav-tabs {
    border-bottom: 1px solid $lines;
  }
  .nav-tabs>li>a {
    color: $text;
    &:hover {
      background-color: $white;
      border: 1px solid transparent;
      color: darken($primary, 15%);
      border-bottom-color: $lines;

    }
  }
  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li.active>a:hover {
    color: $primary;
    cursor: default;
    background-color: $white;
    border: 1px solid transparent;
    border-bottom-color: $primary;
  }
}
