// Navbar Header
.fre-nav-header {
  padding: 12px 0 16px 0;
  border-bottom: 1px solid darken($sand, 20%);
  display: none;
  @include phones {
    display: block;
  }
  .contact-info {
    padding-top: 8px;
    span {
      position: relative;
      &:before {
        position: absolute;
        content: "";
        display: block;
        top: -8px;
        left: -40px;
        height: 32px;
        width: 32px;
        background-size: 16px 16px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: $orange;
        border-radius: 50%;
      }
    }
    a {
      color: $text;
    }
  }
}
