.fre-pricecard.table {
  border: 1px solid $lines;
  position: relative;
  z-index: 500;
  background: $white;
  @include phones {
    margin-bottom: 0px;
  }
  tr:nth-child(3n+3) {
    background: #ededed;
  }
  &.first-card,
  &.last-card {
    border-top: 5px solid transparent;
    tr:nth-child(3n+1) {
      background: lighten($primary, 25%);
      td {
        color: $white;
      }
    }
  }
  &.showcase-card {
    @include prefix(box-shadow, 2px 8px 10px #999);
    border-bottom: 0px solid transparent;
    @include phones {
      border-bottom: 5px solid #ededed;
    }
    tr:nth-child(3n+1) {
      background: $orange;
      td {
        color: $white;
      }
    }
  }
  tr, td {
    border: none;
    text-align: center;
    color: $text;
    h1 {
      font-weight: 500;
      font-size: 72px;
      span {
        font-size: 24px;
        margin-left: -16px;
      }
    }
  }
}
