.fre-table.table {
  margin: 0 auto;
  width: 75%;
  max-width: 350px;
  min-width: 200px;
  @include phones {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  font-family: $copy;
  background: $white;
  color: $text;
  overflow: hidden;
  >tbody>tr>td,
  >tbody>tr>th {
   border: 0px solid transparent;
  }
  tr.hideit {
    display: none;
    background: darken($white, 5%);
    &:nth-child(even) {
      background: darken($white, 4%);
      td {
        &:first-child {
          background: darken($white, 2.5%);
        }
      }
    }
    td {
      vertical-align: middle;
      text-align: center;
      font-size: 22px;
      color: darken($primary, 4%);
      &:first-child {
        background: darken($white, 3.5%);
        text-align: left;
        text-indent: 6px;
        font-size: 14px;
        color: $text;
      }
    }
    @include phones {
      display: table-row;
    }
  }
  th {
    display: block;
  }

  th, td {
    text-align: left;
    padding: 8px 0 0 0;
    @include phones {
      display: table-cell;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}
