.tdsvp-table {
  font-family: $copy;
  background: $white;
  color: $text;
  overflow: hidden;
  tr {
    border-top: 1px solid $lines;
    border-bottom: 1px solid $lines;
  }
  tr.hideit {
    display: none;
    td {
      vertical-align: middle;
      text-align: center;
      font-size: 22px;
      color: $tds-dk-blue;
      &:first-child {
        text-align: left;
        font-size: 14px;
        color: $text;
      }
    }
    @include phones {
      display: table-row;
    }
  }
  th {
    display: block;
  }

  th, td {
    text-align: left;
    @include phones {
      display: table-cell;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.tdsvp-pricecard {
  tr, td {
    background: $primary;
    &:nth-child(even) {
      background: lighten($primary, 10%);
    }
    text-align: center;
    color: $white;
    h1 {
      position: relative;
      font-weight: 700;
      font-size: 100px;
      span {
        position: absolute;
        top: 15px;
        font-size: 24px;
      }
    }
  }
}
.reveal-mobile {
  display: block;
  ul {
    text-align: center;
    padding-left: 0;
  }
  li {
    list-style: none;
    margin: 0;
  }
  @include phones {
    display: none;
  }
}
