.tdsvp-table.table {
  margin: 0 auto;
  width: 75%;
  max-width: 350px;
  min-width: 200px;
  @include phones {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  font-family: $copy;
  background: $white;
  color: $text;
  overflow: hidden;
  >tbody>tr>td,
  >tbody>tr>th {
   border: 0px solid transparent;
  }
  tr.hideit {
    display: none;
    background: darken($white, 5%);
    &:nth-child(even) {
      background: darken($white, 4%);
      td {
        &:first-child {
          background: darken($white, 2.5%);
        }
      }
    }
    td {
      vertical-align: middle;
      text-align: center;
      font-size: 22px;
      color: darken($primary, 4%);
      &:first-child {
        background: darken($white, 3.5%);
        text-align: left;
        text-indent: 6px;
        font-size: 14px;
        color: $text;
      }
    }
    @include phones {
      display: table-row;
    }
  }
  th {
    display: block;
  }

  th, td {
    text-align: left;
    padding: 8px 0 0 0;
    @include phones {
      display: table-cell;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.tdsvp-pricecard.table {
  border: none;
  position: relative;
  z-index: 500;
  background: $primary;
  &.first-card,
  &.last-card {
  background: lighten($primary, 20%);
  }
  &.showcase-card {
    @include prefix(box-shadow, 2px 8px 10px #999);
    border-left: 1px solid $card-shadow;
    border-right: 1px solid $card-shadow;
  }
  @include phones {
    margin-bottom: 0px;
  }
  tr, td {
    border: none;
    text-align: center;
    color: $white;
    &:nth-child(3n+1) {
      background-color: rgba(0,0,0,0.05);
    }
    &:nth-child(3n+3) {
      background-color: rgba(0,0,0,0.1);
    }
    h1 {
      position: relative;
      font-weight: 700;
      font-size: 100px;
      span {
        position: absolute;
        top: 15px;
        font-size: 24px;
      }
    }
  }
}
.reveal-mobile {
  display: block;
  ul {
    text-align: center;
    padding-left: 0;
  }
  li {
    list-style: none;
    margin: 0;
  }
  @include phones {
    display: none;
  }
}
