body {
  font-family: "ITC Avant Garde Gothic W01";
}
.h1,.h2,.h3,.h4,.h5,.h6,
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

article {
  padding: 16px 0;
  h1 {
    color: $primary;
    font-size: 28px;
  }
  p {
    font-family: $copy;
    font-size: 15px;
  }
}
