// Colors
$primary: #79c753;
$card-shadow: darken($primary, 10%);
$tds-dk-blue: #19388a;
$blue: #04acfa;
$text: #555;
$white: #fff;
$black: #000;
$orange: #ff7700;
$lines: #ededed;
$earth: #292015;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);
$roboto: 'Roboto', sans-serif;
$copy: "Helvetica Neue",Helvetica,Arial,sans-serif;
