// Colors
$primary: #2196f3;
$card-shadow: darken($primary, 10%);
$tds-dk-blue: #19388a;
$blue: #03a9f4;
$sky: lighten($primary, 5%);
$green: #689f38;
$rose: #d81b60;
$text: #342b22;
$white: #fff;
$black: #000;
$orange: #ff8f00;
$dk-orange: darken($orange, 20%);
$lines: #ededed;
$earth: #37474f;
$sand: #fdfdfa;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);
$roboto: 'Roboto', sans-serif;
$copy: "Helvetica Neue",Helvetica,Arial,sans-serif;
