// Colors
$primary: #04acfa;
$card-shadow: darken($primary, 10%);
$tds-dk-blue: #19388a;
$tds-lt-blue: #258ecd;
$text: #555;
$white: #fff;
$black: #000;
$lines: #ededed;

// Fonts
$copy: "Helvetica Neue",Helvetica,Arial,sans-serif;
