// contact component
// -----------------
// Located at bottom of help and support section

.contact-links-wrap.contact-links-wrap-full {
  float: none;
  h3 {
    float: left;
    display: inline;
  }
  ul {
    float: right;
    display: inline;
  }
}
