// tds-buttons.less


// Main TDS button
// ------------------
.gallery-btn {
  color: #fff !important;
  @include button-variant($tds-white, $tds-dk-blue, transparent);
  padding: 6px 14px 6px 12px !important;
  font-family: $tds-font-family;
  text-align: left;
  text-transform: capitalize;
  a {
    color: #fff !important;
    text-decoration: none;
  }
}
// arrows for gallery buttons
.gallery-btn:after {
  display: inline-block;
  margin-left: 15px;
  font: normal normal normal 14px/1 FontAwesome; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); // ensures no half-pixel rendering in firefox
  content: "\f054";
}
// spacing for buttons with left icon
.fa.pull-left {
  margin-right: 14px !important;
  line-height: 1.5;
}

// ===== Button block ==========================================================
// When used in cards full-width buttons
// =============================================================================

.gallery-grid .gallery-btn {
  @extend .btn-block;
}
// repositioned arrows for block buttons
.gallery-grid .gallery-btn,
.home-grid .gallery-btn {
  &:after {
    position: absolute;
    padding-top: 3px;
  }
}
// **Three cards position**
.gallery-grid .gallery-btn:after {
  right: 40px;
}
// **Four cards position**
.home-grid .gallery-btn:after {
  right: 25px;
}

// ===== Green button ==========================================================
// You know, the green one.
// added `#addtocart` ID for those that need to be green we missed.
// =============================================================================
.gallery-btn.btn-green,
.tds-btn-green,
button#addtocart {
  @extend .btn-success;
}

// ===== Gray button ===========================================================
// gray button, blue text
// =============================================================================
.tds-btn-gray {
  color: $tds-lt-blue !important;
  background: $tds-ltr-gray;
}
// gray close button
td .line-item-actions .tds-btn-gray {
  border-radius: 15px;
  padding: 0px 9px 3px 8px;
}

.tds-btn-lt-blue {
  background: $tds-lt-blue;
}

// button link style
// when it's a gallery button but by design shows as text
.gallery-btn-link,
.gallery-btn.gallery-btn-link {
  @extend .btn;
  @extend .btn-link;
  font-family: 'ITC Avant Garde Gothic W01';
  color: $tds-green !important;
  &:hover {
    color: $tds-green;
  }
}
// arrow icon
.gallery-btn-link:after {
  @extend .fa;
  content: "\f054";
  margin-top: 3px;
  margin-left: 14px;
}
// When button is an `input` submit element
// - *Note* || Working on changing this. All `<input>` divs should be changed
//   to `<button>` divs.
.gallery-btn input {
  padding-top: 2px;
  background: transparent;
  border: transparent;
}

// Back & Next buttons
// Mainly used for walkthrough pages like the bundle picker
.btn-right {
  float: right;
  // next arrow
  .next-arrow:after {
    content: "\f054";
    margin-left: 15px;
    //.fa;
  }
}
.btn-left {
  float: left;
  // back arrow
  .back-arrow:before {
    content: "\f053";
    margin-right: 15px;
    //.fa;
  }
  .back-arrow:after {
    display: none;
  }
}

// different states of the left/right buttons
.btn-right,
.btn-left {
  // default blue
  a {
    @extend .btn;
    @extend .btn-primary;
    color: #fff !important;
  }
  // green success
  .btn-green {
    @extend .btn-success;
  }
}

// Center button
.btn-center {
  float: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  height: 130px;
  width: 100%;
  text-align: center;
}
.lt-blue-button {
  margin-bottom: 0;
  padding: 10px 16px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}

// button dropdown rollover fix - border-bottom bumps things down
.tds-select-btn {
  display: block;
  min-height: 40px;
}
