// ===== ul > li blue squares design ===========================================
// Cant just apply to page content.
// Needs to be set to specific areas or it will effect sub-navigation.
// Add new sections here when needed.
// =============================================================================
.landingpagetext,
.text.parbase.section,
.cards-full-width-content,
.checkoutquestions,
.referralProgram .left-text,
.page .col-sm-8 {
  ul {
    display: table;
    list-style-type: none;
  }
  ul > li:before {
    content: "\f04d";
    position: relative;
    top: -3px;
    margin-right: 10px;
    margin-left: -17px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 8px;
    color: $tds-lt-blue;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }
  // Ordered lists with circle backgrounds set up
  // -----------------------------------------------
  ol {
    counter-reset: li;
    list-style: none;
    margin-bottom: 1em;
  }
  ol > li {
    display: block;
    padding: 0em .4em .2em 1em;
    margin: .15em 0;
    color: #444;
    text-decoration: none;
    position: relative;
  }
  // Circles and numbers
  ol > li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -0.70em;
    background: $tds-dk-blue;
    height: 1.25em;
    width: 1.25em;
    line-height: 1.2em;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    color: white;
    font-weight: normal;
  }
}
// for cards with blu squares || *TODO* create better method
.tds-card ul.list-unstyled + h3 + ul {
  display: table;
  list-style-type: none;
  > li:before {
    content: "\f04d";
    position: relative;
    top: -3px;
    margin-right: 10px;
    margin-left: -17px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 8px;
    color: $tds-lt-blue;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }
}
// extending nested list-unstyled set up
ul.list-unstyled ul {
  list-style: none;
  padding-left: 20px;
}

// ===== Headings ==============================================================
// applies Avant-Gaurde, helvetica and colors to header tags
// based on design. Classes added to apply to header mixins too.
// h4 & lower default to helvetica based on body text.
// =============================================================================
h1, .h1, h2, .h2, h3, .h3 {
  font-family: $tds-font-family;
  margin-bottom: 20px;
}
h1, .h1 {
  font-size: 36px;
  color: $tds-dk-blue;
}
h2, .h2 {
  font-size: 28px;
  color: $tds-dk-blue;
}
h3, .h3 {
  font-size: 24px;
  color: $tds-lt-blue;
}
h4, .h4 {
  color: $tds-dk-blue;
  margin-bottom: 20px;
}
h5, .h5 {
  color: $tds-lt-blue;
  margin-bottom: 20px;
}
h6, .h6 {
  color: #000;
  margin-bottom: 20px;
}
