// tds-cards.less

// Legacy styles
// tds-card-component.less

/*
==================================================
#Product Icons
==================================================
*/

.product_picture {
  background-repeat: no-repeat;
  background-size: contain;
}

.product_internet {
  background-image:url(/content/dam/tdstelecom/images/products/icons-product_internet.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.product_tv {
  background-image:url(/content/dam/tdstelecom/images/products/icons-product_tv.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.product_phone {
  background-image:url(/content/dam/tdstelecom/images/products/icons-product_phone.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.product_bundle3 {
  background-image:url(/content/dam/tdstelecom/images/products/icons-product_bundle3.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.product_bundle2-int-tv {
  background-image:url(/content/dam/tdstelecom/images/products/icons-product_bundle2-int-tv.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.product_bundle2-int-phone {
  background-image:url(/content/dam/tdstelecom/images/products/icons-product_bundle2-int-phone.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.product_bundle2-tv-phone {
  background-image:url(/content/dam/tdstelecom/images/products/icons-product_bundle2-tv-phone.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

/*
==================================================
Table of Contents
==================================================
    #Typography
    #Images
    #Button
*/


/*This should be in the base.css / in all pages */
* {     box-sizing: border-box; }

/* #Typography
================================================== */

h2.gallery-title {
    font-family:'ITC Avant Garde Gothic W01';
    font-size: 1.5em;
    line-height: 1.25em;
    color: #19388a;
    text-align: center;
    display: table;
    width: 100%;
    height: 2.5em;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

h2.gallery-title > span { display:table-cell; vertical-align: middle; }

    @media all and (max-width: 583px) {
        h2.gallery-title { height: auto; }
    }

.gallery-description {
    margin: 1.5em 0;
    /* font: .875em/1.7em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    color: #555555;
}

        @media all and (min-width: 15em) {
            .gallery-description {
                height: auto;
            }
        }

        @media all and (min-width: 36.5em) {
            .gallery-description {
                //min-height: 11.5em;
            }
        }

/* #Button
================================================== */

div.gallery-btn {
    padding: 0 1em;
    //height: 2.75em;
    background-color: #19388A;
}

div.gallery-btn:hover {
    background-color: #4760a1;
    cursor: pointer;
}

/* #Images
================================================== */

.gallery-img /*container sized for the images used in 3 column gallery grid*/
{
    margin: 0 auto 36px;
    width: 9em;
    height: 9em;
}

    @media all and (min-width: 15em) {
            .gallery-img {
                width: 9em;
                //margin: 0 auto;
                height: 9em;
            }
        }

        @media all and (min-width: 54.5em) {
            .gallery-img {
                width: 75%;
                //margin: 0 auto;
                padding-top: 75%;
                height: 0;
            }
        }

/* #Business Button
================================================== */

.shopbiz-wrapper {
    margin: 2.5em 2em;
}

div.shopbiz-btn {
    margin: 0 auto;
    padding: 0 1em 0 2.5em;
    height: 2.75em;
    background: #0c8fd0 url(/content/dam/tdstelecom/biz-icon.svg) 1em center no-repeat;
    -webkit-background-size:   1em 1em;
    background-size:  1em 1em;
}

@media all and (min-width: 15em) {
        div.shopbiz-btn {
            width: 100%;
            margin-top: 2em;
        }
    }

    @media all and (min-width: 36.5em) {
        div.shopbiz-btn {
            max-width: 21.25em;
            margin-top: 2em;
        }
    }

div.shopbiz-btn > a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1em;
    line-height: 2.75em;
    text-align: left;
    font-family:'ITC Avant Garde Gothic W01';
    background:url(/content/dam/tdstelecom/images/ui/arrows/right-arrow-white.svg) no-repeat;
    background-position: right center;
    -webkit-background-size:   10px 15px;
    background-size:  10px 15px;
}

div.shopbiz-btn:hover {
    background-color: #25ACF2;
    cursor: pointer;
}

/* #4 Column Gallery Layout
================================================== */

.home-grid {
        list-style: none;
        overflow: hidden;
            padding: 0 0 0 1em;
            // max-width: 62em /*960/16*/;
            // min-width: 15em /*240/16*/;
            margin: 0 auto;
        }
        .home-grid li {
            padding: 0 1em 1em 0;
        }
        .home-grid li > div {
            position: relative;
            border: solid 3px #e3e3e3;
            vertical-align: bottom;
        }
        .home-grid li a {
            color: #fff;
        }

        @media all and (min-width: 15em) {
            .home-grid li {
                width: 100%;
                float: left;
            }
            .home-grid li > div {
            padding: 1em;
            }
        }

        @media all and (min-width: 36.5em) {
            .home-grid li {
                width: 50%;
            }
            .home-grid li > div {
            padding: 1em;
            }
        }
        @media all and (min-width: 54.5em) {
            .home-grid li {
                width: 25%;
            }
        }
        /* #3 Column Gallery Layout
================================================== */

.gallery-grid {
    list-style: none;
    overflow: hidden;
    padding: 0 0 0 1em;
    min-width: 15em;
    margin: 0 auto;
    }
        .gallery-grid li {
            padding: 0 1em 1em 0;
        }
        .gallery-grid li > div {
            position: relative;
            // text-align: center;
            vertical-align: bottom;
            border: solid 3px #e3e3e3;
        }
        .gallery-grid li a {
            // color: #fff;
        }

        @media all and (min-width: 15em) {
            .gallery-grid li {
                width: 100%;
                float: left;
            }
            .gallery-grid li > div {
                padding: 1em;
            }
        }

        @media all and (min-width: 36.5em) {
            .gallery-grid li {
                width: 50%;
            }
            .gallery-grid li > div {
            padding: 2em;
            }
        }
        @media all and (min-width: 54.5em) {
            .gallery-grid li {
                width: 33.333333%;
            }
        }



// New styles
h2.gallery-title-4c {
  font-family: $tds-font-family;
  font-size: 1.5em;
  line-height: 1.25em;
  color: $tds-dk-blue;
  text-align: center;
  display: table;
  width: 100%;
  height: 85px;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}
.gallery-description {
  height: 11.5em;
}

// "OR" text that appears between 2 buttons
.gallery-grid b {
  padding: 10px;
  display: block;
}

// single card layout
.tds-single-card li {
  width: 100%;
}

// Full width cards
.cards-full-width {
  width: 100% !important;
  // need to add this class to wrap contnets
  .cards-full-width-content {
    overflow: hidden;
    text-align: left;
    // Headers
    .gallery-title {
      display: block;
      overflow: hidden;
      margin-bottom: 36px;
      border-bottom: 1px solid $tds-lt-gray;
    }
    // main header & sub header
    h2.card-main-title,
    h3.card-sub-title {
      float: left;
      display: inline;
      margin: 0px 10px 0px 0px;
      padding-bottom: 10px;
    }
    // Aligns `.card-sub-title` text with `.card-main-title`
    h3.card-sub-title {
      line-height: 34px;
      // TODO || remove this after it's no longer wrapped in the `<p>` tag
      p {
        @extend .h3;
        margin: 0px;
        line-height: 34px;
      }
    }
    // min-height not needed on full width cards
    .gallery-description {
      margin-top: 0px;
      height: auto;
    }
    // ul li product lists in the gallery
    ul.gallery-prods li {
      width: 100%;
    }
    ul.gallery-prods li div {
      top: -8px;
      padding: 0;
      text-align: left;
      border: none;
    }
    // stops th li from only being 33% || TO DO findo out why that is.
    ul li {
      width: 100%;
      text-align: left;
    }
  }
}

// When an alternate price offer appears in a well in the `.tds-card`
// other well attributes are in the <tds-well.less> file.
.gallery-grid li > div .tds-well {
  margin: 15px -15px -15px -15px;
}

// tds-single cards buttons were written wrong. Here's a quick fix.
// TO DO || go back and fix this
// .tds-single-card form[name="checkout"] button {
//   .gallery-btn-link;
// }

// Center align set up. Don't know where the original set up of this went.
// TO DO || Set up better
.gallery-grid li {
  text-align: center;
}
.gallery-description p,
.gallery-description p b {
  text-align: left;
  margin-left: 0px !important;
  padding-left: 0px !important;
}

// ===== TDS Card ==============================================================
// Basic structure of the tds cards based on the design types
// =============================================================================

// h2.Basic example
// ----------------
// By default, all the {{.tds-card}} does is apply some basic border and padding to contain some content.
.tds-card {
  position: relative;
  min-height: 1px;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border: 3px solid $tds-ltr-gray;
}
// h2.With Gray Background
// -----------------------
// Easily add a gray background to your {{.tds-card}} with {{.tds-card-gray}}.
.tds-card-gray {
  background-color: $tds-ltr-gray;
}

// *temp float fix* - TODO || need to find a way to fix this so the float it's
// referencing isn't done directly on the text.parbase components. These exist
// in the current website css
.tds-card .text.parbase.section {
  float: none;
  padding: 0px;
}
