//tds-navs.less

// global nav
.top-header {
  .dropdown-menu {
    min-width: 1px; // removes the min-width thats messing things up (get rid of it later).
  }
  img.right-caret-sm,
  img.right-caret-open-sm,
  img.down-caret-sm,
  img.down-caret-open-sm {
    height: 12px;
    width: 12px;
  }
  img.right-caret-open-sm,
  img.right-caret-sm {
    top: 0px;
  }
  // sub menu
  .dropdown-menu.sub-menu {
    background: #555;
    li {
      a {
        padding-right: 40px !important;
      }
      a:hover {
        background-color: #353535;
      }
      a:after {
        //.fa;
        font-size: 17px;
      }
      a:hover:after {
        content: "\f0da";
        position: absolute;
        right: 15px;
      }
    }
  }
}

// cart and login navigation
.top-header .nav > li > a,
.tds-user-nav li a {
  font-family: 'Neue Helvetica W01';
}
.tds-user-nav li {
  margin-top: 5px;
  margin-left: 20px;
}

// mAIN SITE NAVIGATION

// dropdown menu sprite
// makes green arrow right one
img.down-caret-green-lg {
  background-position: -115px -101px;
}
.nav-bar .nav-tabs a {
  color: $tds-dk-blue;
}


// Sub menu
// Somehow the dropdown menu started showing li types again || TODO: find why?
.nav-bar .menu > ul ul.dropdown {
  padding-left: 0px;
  list-style-type: none;
}

// footer navs
// ==============
// override bootstrap rollover color
.site-navigation .nav > li > a:hover,
.site-navigation .nav > li > a:focus {
  background-color: #353535;
}

// eventually these fonts will be determined in one place.
.site-navigation ul {
  font-family: $tds-font-family;
}

.L1-nav>ul>li>a>:after {
  display:none !important;
}
.L1-nav>ul>li>a>span:after {
  padding-right: 16px;
  margin-left: .5em;
  content: "";
  width: 14px;
  height: 9px;
  max-height: 100%;
  background-image: url('/content/dam/tdstelecom/images/ui/arrows/down-arrow-ltblue.svg');
  background-size: 14px 9px;
  background-position: center;
  background-repeat: no-repeat;
}

img.down-caret-blue-lg {
  //.fa;
  content: "\f054";
  margin-left: 15px;
  color: $tds-lt-blue;
}
