//tds-footer.less

.footer-block {
	display: block;
}
#genericfooter-container {
	background-color: #555555;
	width: 100%;
	display: table;
	border-top: solid 4px #353535;

}
/*==================================================
#CONTACT LINKS
==================================================*/
.contact-links-wrap {
	margin: 1.75em 0 0 0;
	float: right;
	text-align: left;
	overflow: hidden;
}
.contact-links-wrap ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.contact-links-wrap ul li {
	margin: 1em .8em 0 0;
	display: inline-block;
}
.contact-links-wrap ul li:last-child {
	margin-right: .125em;
}
.contact-links-text {
	line-height: 2em;
	font-family: "ITC Avant Garde Gothic W01", Century Gothic, Arial;
	font-weight: 400;
	font-style: normal;
	color: #555555;
	padding-left: .25em;
	text-align: left;
	text-decoration: none;
}
.contact-links-text:before {
	float: left;
	width: 2em;
	height: 2em;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #25acf2;
}
.contact-chat-icon:before, .contact-email-icon:before, .contact-call-icon:before {
	content: "";
	width: 2em;
	height: 2em;
	padding-left: 0;
	margin-right: .125em;
}
.contact-chat-icon:before {
	background-image: url('/content/dam/tdstelecom/images/ui/contact/icon_contact-chat.png');
	background-image: linear-gradient(transparent, transparent), url('/content/dam/tdstelecom/images/ui/contact/icon_contact-chat.svg');
	background-size: 12px 9px;
	background-position: center;
	background-repeat: no-repeat;
}
.contact-email-icon:before {
	background-image: url('/content/dam/tdstelecom/images/ui/contact/icon_contact-email.png');
	background-image: linear-gradient(transparent, transparent), url('/content/dam/tdstelecom/images/ui/contact/icon_contact-email.svg');
	background-size: 12px 8px;
	background-position: center;
	background-repeat: no-repeat;
}
.contact-call-icon:before {
	background-image: url('/content/dam/tdstelecom/images/ui/contact/icon_contact-call.png');
	background-image: linear-gradient(transparent, transparent), url('/content/dam/tdstelecom/images/ui/contact/icon_contact-call.svg');
	background-size: 9px 9px;
	background-position: center;
	background-repeat: no-repeat;
}
div.contact-links-wrap > ul > li:hover > a, div.contact-links-wrap > ul > li:hover > a:hover {
	color: #19388a;
	text-decoration: none!important;
}
div.contact-links-wrap > ul > li:hover > a:before, div.contact-links-wrap > ul > li:hover > a:hover:before {
	background-color: #19388a;
}

@media all and (max-width: 750px) {
#header-contact-links {
	display: none;
}
}
/*==================================================
#CONTACT LINKS IN THE FOOTER
==================================================*/
#footer-contact-links {
	margin: 0;
	float: none;
	text-align: center;
	padding-bottom: 32px;
	min-width: 265px;
	border-bottom: solid 2px #25acf2;
}

@media all and (min-width: 751px) {
#footer-contact-links {
	display: none;
}
}
div#footer-contact-links .contact-links-wrap {
	text-align: center;
}
div#footer-contact-links a.contact-links-text, div#footer-contact-links > ul > li:hover > a, div#footer-contact-links > ul > li:hover > a:hover {
	color: #ffffff;
}

@media all and (max-width: 750px) {
.contact-links-wrap ul li {
	margin: 1.75em 1.5em 0 0;
}
.contact-chat-icon:before, .contact-email-icon:before, .contact-call-icon:before {
	content: "";
	width: 2.25em;
	height: 2.25em;
	padding-left: 0;
	margin-right: .25em;
}
.contact-chat-icon:before {
	background-size: 17px 17px;
}
.contact-email-icon:before {
	background-size: 14px 13px;
}
.contact-call-icon:before {
	background-size: 14px 14px;
}
.contact-contact-links-text {
	font-size: 1em;
	line-height: 2.25em;
}
.contact-links-text:before {
	width: 2.25em;
	height: 2.25em;
}
}

@media all and (max-width: 460px) {
.contact-links-wrap ul li {
	margin: 1.75em 0 0 0;
}
.contact-links-text {
	font-size: 1em;
	line-height: 2.25em;
	padding-left: .5em;
}
.contact-chat-icon:before, .contact-email-icon:before, .contact-call-icon:before {
	width: 2.25em;
	height: 2.25em;
	margin-right: .125em;
}
div#footer-contact-links a.contact-links-text span {
	display: none;
}
}
/*==================================================
#FOOTER LOG IN BUTTON
==================================================*/
div#footer-login {
	padding-top: 30px;
	margin: 0 auto;
	text-align: center;
}

@media all and (min-width: 751px) {
div#footer-login {
	display: none;
}
}

.btn-login {
  font-family: "ITC Avant Garde Gothic W01", Century Gothic, Arial;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  padding: 12px 0;
  color: #ffffff;
  padding-left: 1em;
  background-color: #19388a;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  max-width: 320px;
  margin: 0 auto;
  text-align: left;
}
.btn-login:hover {
	background-color: #0c8fd0;
	color: #ffffff;
	text-decoration: none;
}
.btn-right-arrow-white {
display: inline-block;
  height: 18px;
  width: 9px;
  background-image: url('/content/dam/tdstelecom/images/ui/arrows/right-arrow-white.png');
  background-image: linear-gradient(transparent, transparent), url('/content/dam/tdstelecom/images/ui/arrows/right-arrow-white.svg');
  background-size: 9px 14px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 1em;
}
/*==================================================
#SOCIAL MEDIA LINKS
==================================================*/
#social-container {
	text-align: center;
	border-top: solid 2px #25acf2;
	padding: 26px 0 22px 0;
}
.circle-gray {
	display: block;
	float: left;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #555555;
}
.circle-gray:hover {
	background-color: #25acf2;
}
.size-40 {
	width: 2.5em;
	height: 0;
	padding-bottom: 2.5em;
}
.icon_social-twitter {
	background-image: url('/content/dam/tdstelecom/images/ui/social/icon_social-twitter.png');
	background-image: linear-gradient(transparent, transparent), url('/content/dam/tdstelecom/images/ui/social/icon_social-twitter.svg');
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: 3em;
	background-size: 3em;
}
.icon_social-facebook {
	background-image: url('/content/dam/tdstelecom/images/ui/social/icon_social-facebook.png');
	background-image: linear-gradient(transparent, transparent), url('/content/dam/tdstelecom/images/ui/social/icon_social-facebook.svg');
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: 3em;
	background-size: 3em;
}
.icon_social-youtube {
	background-image: url('/content/dam/tdstelecom/images/ui/social/icon_social-youtube.png');
	background-image: linear-gradient(transparent, transparent), url('/content/dam/tdstelecom/images/ui/social/icon_social-youtube.svg');
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: 3em;
	background-size: 3em;
}
.icon_social-gplus {
	background-image: url('/content/dam/tdstelecom/images/ui/social/icon_social-gplus.png');
	background-image: linear-gradient(transparent, transparent), url('/content/dam/tdstelecom/images/ui/social/icon_social-gplus.svg');
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: 3em;
	background-size: 3em;
}
.icon_social-linkedin {
	background-image: url('/content/dam/tdstelecom/images/ui/social/icon_social-linkedin.png');
	background-image: linear-gradient(transparent, transparent), url('/content/dam/tdstelecom/images/ui/social/icon_social-linkedin.svg');
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: 3em;
	background-size: 3em;
}
.icon_social-blogger {
	background-image: url('/content/dam/tdstelecom/images/ui/social/icon_social-blogger.png');
	background-image: linear-gradient(transparent, transparent), url('/content/dam/tdstelecom/images/ui/social/icon_social-blogger.svg');
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: 3em;
	background-size: 3em;
}
.icon_social-pinterest {
	background-image: url('/content/dam/tdstelecom/images/ui/social/icon_social-pinterest.png');
	background-image: linear-gradient(transparent, transparent), url('/content/dam/tdstelecom/images/ui/social/icon_social-pinterest.svg');
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: 3em;
	background-size: 3em;
}
#social-media-links {
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: -999;
}
#social-media-links li {
	display: inline-block;
	padding: 0 4%;
}

@media all and (max-width: 745px) {
#social-media-links li {
	padding: 0 3%;
}
}

@media all and (max-width: 585px) {
#social-media-links li {
	padding: 0 1%;
}
}

@media all and (max-width: 410px) {
#social-media-links li {
	padding: 0 3.5%;
}
}
/*==================================================
#COPYRIGHT
==================================================*/
#copyright-container {
	background-color: #353535;
	width: 100%;
}
div.copyright-logo, div.copyright-text {
	display: table-cell;
	vertical-align: top;
}
div.copyright-logo {
	padding: 44px 44px 44px 66px;
}
div.copyright-text {
	margin: 0;
	padding: 32px 55px 44px 0px;
	font-family: "Neue Helvetica W01";
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	line-height: 21px;
	color: #cacaca;
}
.copyright-text > p {
	margin: 0;
}
.copyright-text p span {
	display: inline-block;
}
.reg-mark {
	font-size: 7px;
	vertical-align: 4px;
}
#fortune1000-logo {
	display: inline-block;
	width: 105px;
	height: 92px;
	background-image: url('/content/dam/tdstelecom/images/logos/tds_fortune1000.gif');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	top: 6px;
}

@media all and (max-width: 768px) {
div.copyright-logo {
	padding: 30px 30px 30px 25px;
}
div.copyright-text {
	padding: 18px 30px 30px 10px;
}
}

@media all and (max-width: 600px) {
#fortune1000-logo {
	display: none;
}
div.copyright-logo {
	padding: 0;
}
div.copyright-text {
	padding: 15px 0px 15px 0px;
	display: block;
	text-align: center;
}
div#copyright-long-text {
	display: none;
}
}

hr.thinblueline
{
    height: 2px;
    border-color: #555555;
    color: #25ACF2;
    background-color: #25ACF2;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#homepageFooter .sectionTitle {
    color: #FFFFFF;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 13px;
    padding-top: 32px;
    font-size: 1.25em;
    line-height: 1.25em;
    font-weight: bold;
    font-family: 'ITC Avant Garde Gothic W01';
}

div.footerjustifier
{
  margin-right:4.25%;
}

div.homepageFooter
{
    background-color: #555555;
    text-align: center;
}

div.col-group
{
  display: inline-block;
  width: 100%;
    max-width: 960px;
    text-align: left;
    margin: 0 0 0 0;
}

@media screen and (max-width: 550px)
{

    div.col-group
    {
        display: none;
    }

    div.subscribe
    {
        display: none;
    }
}

@media screen and (min-width: 600px) {
  .col-group {
    overflow: hidden;
  }
  .col-group > div {
    float: left;
    width: 30.2%;
  }
}

/* This is used to hide the child links under the titles. */
.sectionLinks{
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none;
    padding-top: 0px;
    margin-top: 20px;
}
.sectionLinks li{
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 22px;
    margin-right: 24px;
    font-weight: normal;
    line-height: 1;
    font-size: .875em;
}
.sectionLinks li a{
    display: inline;
}

.sectionLinks a{
    text-decoration: none;
    color: #BBBBBB;

}

.sectionLinks a:hover{
    text-decoration: none;
    color: #FFFFFF;
    /*font-weight: bold;*/
}

#accountSupport, #phoneSupport, #internetSupport, #digitalSupport{
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none;
    display: none;
    margin-left: 13px;
}

#subscribeButton {
    background-color: #19388A;
    text-align: center;
    vertical-align: middle;
    width: 165px;
    height: 40px;
    display: table-cell;
    color: #FFFFFF;

}

#subscribeButton:hover {
    background-color: #001E54;
}

#subscribeButton a{
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 5px;
    font-size: 1em;
    line-height: 1;
    font-weight: bold;
    font-family: 'ITC Avant Garde Gothic W01';
}

.subscribefooter
{
    text-align: center;
}

.subscribe {
    color: #FFFFFF;
    display: inline-block;
    padding-bottom: 60px;
    padding-top: 24px;
    width: 100%;
    max-width: 960px;
}
#buttonWrapper {
    display: inline-block;
    vertical-align: middle;
}
#accountSymbol, #phoneSymbol, #internetSymbol, #digitalSymbol{
    float: right;
    display: inline;
}
/* Displays the grey plus sign in the Help & Support section*/
.symbol {
    margin-left: 24px;
    width: 16px;
    height: 16px;
    background: url("../images/headerfootersprites.png") -40px -100px;
    position: relative;
    top: 0px;
}

/* Displays the green plus sign in the Help & Support section*/
.symbol:hover {
    display:inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/headerfootersprites.png") -60px -100px;
}

/* Displays the grey minus sign in the Help & Support section*/
.symbolMinus {
    display:inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/headerfootersprites.png") -80px -100px;
}

/* Displays the green minus sign in the Help & Support section*/
.symbolMinus:hover {
    width: 20px;
    display:inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/headerfootersprites.png") -100px -100px;
}

#homepageFooter .hoverStyle:hover a, #homepageFooter .clickStyle a{
    font-weight:bold;
    color: #FFFFFF;
}

#envelopeGraphic {
    background: url("../images/headerfootersprites.png") -220px -80px;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}

.subscribe #subscribeText {
    padding-right: 20px;
    font-weight: book;
    font-size: 1em;
    line-height:  1.125;
    font-family: 'ITC Avant Garde Gothic W01';
    display: inline-block;
    word-break:break-word;
    vertical-align: middle;
    /*width: 42%; - was causing wrapping */
    text-align: left;
}
