//tds-pagebanner.less

#page-banner{border-top:solid 3px #e3e3e3;border-bottom:solid 3px #25acf2}

#page-banner {
    position: relative;
    width: 100%;
    text-align: left;
    overflow: hidden;
}

#banner-overlay {
    background: url(../../../content/dam/tdstelecom/images/banners/banner-overlay.png) left top no-repeat;
    background-size: 100% 100%;
}

#banner-overlay {
    opacity: .8;
    border-left: solid 3px #e3e3e3;
    border-right: solid 3px #e3e3e3;
}

.banner-content {
    padding: 3.25em 3.5em 3.25em 3.5em;
    width: 65%;
}

.banner-title {
    font-family: 'ITC Avant Garde Gothic W01';
    font-weight: normal;
    font-size: 2.25em;
    line-height: 1.1em;
    color: #19388a;
    margin: 0;
}

.tds-page-banner {
  margin-bottom: 30px;
}
.banner-image {
  background-size: cover !important;
}
// L3 page banners with image on the right
.bundleSubheader h3 {
  font-family: $tds-font-family;
  font-weight: normal;
  font-size: 2.25em;
  line-height: 1.1em;
  color: $tds-dk-blue;
}
.bundle_container .tds-page-banner {
  max-width: 960px;
  &.tds-sub-banner {
    border-bottom: 2px solid $tds-dk-blue; // border just for sub-banners
  }
}
.bundleSubheader {
  padding-top: 20px;
  padding-bottom: 35px;
}

// Full banner no images
.banner-content-full.banner-content {
  width: 100%;
  border-left: 3px solid $tds-lt-gray;
  border-right: 3px solid $tds-lt-gray;
}
