<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="cloak"></div>
    <div class="top-bar"></div>
    {% include nav.html %}
    {% if page.header %}
      {% include header.html %}
    {% endif %}
    <div class="container">
    {% if page.table %}
      {% include table.html %}
    {% endif %}
      <div class="row">
        <section class="col-md-8 col-md-offset-2">
          {{ content }}
        </section>
      </div>
    </div>
    {% include props.html %}
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
