<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>
      Remote - TDS Telecom
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/competitive.css">

  </head>

  <body>

    

    <div class="container">
        <div class="row">

            <div class="col-xs-12 text" style="display: table; min-height: 100%;">
                {{ content }}
            </div>

        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 footer-full">

        </div>
      </div>
    </div>
