<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>
      Remote - TDS Telecom
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/competitive.css">

  </head>

  <body>

    <!-- coverbar -->
    <div class="tds-width-container container">
      <!-- <a href="/shop.html" id="tds-logo" class="desktop-only"></a> -->

      <!-- contact-links-wrap -->
      <div id="header-contact-links" class="contact-links-wrap">

      </div>
      <!-- END contact-links-wrap -->

      <div class="tds-clearfix"></div>

    </div>
    <!-- /coverbar -->


		<div class="container">

			<div class="">
				<!-- Banner Content-->
				<div class="col-xs-12 banner jumbotron">
          <!-- <div class="col-xs-8 col-xs-offset-4">
            <h1>Head</h1>
  					<p>text</p>
          </div> -->
				</div>
				<!-- End Banner Content-->
			</div>

		</div>

    <div class="container">
        <div class="row">

            <div class="col-xs-12">
              {% include lp-com-ticker.html %}
            </div>

            <div class="col-xs-7 text">
                {{ content }}
            </div>
            <div class="col-xs-5 form-box">
            	{% include basic-landing-page-sidebar-form.html %}
            </div>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 footer-full">

        </div>
      </div>
    </div>
